.side-bar{
    position:absolute;
    color:black;
    font-family:Helvetica;
    text-align: center;
    transition: all 500ms ease;
    font-size:1vw;
    width: 19%;
    min-height: 95%;
    margin: 1%;
    padding-top: 0.75%;
}

.main-body{
    position:absolute;
    color:transparent;
    font-family:Helvetica;
    text-align: center;
    transition: all 500ms ease;
    font-size:1vw;
    width: 80%;
    min-height: 95%;
    margin: 1%;
    padding-top: 3.5%;
    left: 22%;
}

video{
    position:absolute;
    color:transparent;
    width: 80%;
    min-height: 95%;
    margin: 1%;
    padding-top: 3.5%;
    left: 22%;
    opacity: 80%;
}

body {
    color: white;
    margin: 0;
    text-align: center;
    cursor: crosshair;
}

nav#navbar a {
	display: block;
	border: 1px solid black;
	padding: 2%;
    margin-top: 3%;
	text-decoration: none;
	color: black;
	text-align: center;
    cursor:crosshair;
}

nav#navbar a:hover:not(.active) {
	display: block;
	border: 1px solid black;
    padding: 2%;
    margin-top: 3%;
	text-decoration: none;
	text-align: center;
    cursor:crosshair;
  	color: black;
    position: relative;
    left: 10%;
}

p{
    font-size:0.8vw;
    color: black
}

footer#nav-footer2{
    font-size:0.9vw;
    color: black
}

header{
 font-weight: bold;
}
